.student-upload-document {
    background: #f8f9fa;
    min-height: 100vh;
}

.dashboard-container {
    display: flex;
    padding-top: 0px; /* Prevents content from hiding under navbar */
}

.dashboard-content {
    padding: 20px;
    background: rgba(255, 255, 255, 0.32);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 50px;
    width: 100%;
}

.upload-section {
    background: #f1f1f1;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.documents-list table {
    width: 100%;
}

.text-success {
    color: green;
}

.text-warning {
    color: orange;
}

button {
    display: flex;
    align-items: center;
    gap: 5px;
}

.upload-cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    width: 100%;
    margin-bottom: 32px;
    
}

@media (max-width: 900px) {
    .upload-cards-container {
        grid-template-columns: 1fr;
    }
}

.student-upload__content {
    width: 100%;
    box-sizing: border-box;
    padding: 70px 0px 0px 70px ;
}
